<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WS_MantenedorOneClick-20190301082158.mdf;Initial Catalog=aspnet-WS_MantenedorOneClick-20190301082158;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="MantenedorOneClickEntities" connectionString="metadata=res://*/Models.Entities.MantenedorOneClick.csdl|res://*/Models.Entities.MantenedorOneClick.ssdl|res://*/Models.Entities.MantenedorOneClick.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=BANDESA_DPROD.BANMEDICA.CL;PASSWORD=mantenedoreswebdprod;USER ID=MANTENEDORESWEB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
      <implicitRefCursor>
        <storedProcedure schema="MANTENEDORESWEB" name="PKG_MANTENEDOR_1CLICK.BUSCARPRODUCTOCOD">
          <refCursor name="C_PRODUCTOS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="IDPRODUCTO" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="CODPRODUCTO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="NOMBREPRODUCTO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="FECHAINICIO" providerType="Date" allowDBNull="false" nativeDataType="Date" />
            <metadata columnOrdinal="4" columnName="FECHATERMINO" providerType="Date" allowDBNull="true" nativeDataType="Date" />
            <metadata columnOrdinal="5" columnName="ESTADO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="ISAPRE" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="7" columnName="USUARIOCREADOR" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="8" columnName="VALOR" providerType="Double" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="9" columnName="BENEFICIARIO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="MANTENEDORESWEB" name="PKG_MANTENEDOR_1CLICK.BUSCARPRODUCTOS">
          <refCursor name="C_PRODUCTOS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="RUTAFILIADO" providerType="Int64" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NOMBREAFILIADO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="ISAPRE" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="CODIGOPRODUCTO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="ESTADO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="FOLIO" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="6" columnName="FECHACOMPRA" providerType="Date" allowDBNull="true" nativeDataType="Date" />
            <metadata columnOrdinal="7" columnName="CARGAS" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="8" columnName="VISUALIZACIONES" providerType="Int16" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="MANTENEDORESWEB" name="PKG_MANTENEDOR_1CLICK.LISTARPRODUCTOS">
          <refCursor name="C_PRODUCTOS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="CODIGOPRODUCTO" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="1" columnName="NOMBREPRODUCTO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
</configuration>