
@model WebMantenedorOneClick.Models.DTO.ProductoOc
<br />
<br />
<center>
    <h2 style="color:red;">ERROR</h2>
    <br />

    <h3>@ViewBag.Wea</h3>

    <br />
    <center>
        <a href="@Url.Action("Index", "Home")">
            <i class="btn btn-outline-danger btn-lg" value="Volver al menú">Volver al menú principal</i>
        </a>
    </center>

    
</center>
<br />
<br />
